{% extends "layout.html" %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    {% for post in posts.items %}
      {% if not post.archive %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h2 class="mr-2">{{ post.name }}</h2>
              <small class="text-muted">{{ post.dateAndTimeForCallback}}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id)}}">{{ post.subject }}</a></h2>
            <p class="article-content">{{ post.problemDescription }}</p>
          </div>
        </article>
      {% endif%}
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current = 1, right_current = 2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{url_for('admin', page=page_num)}}">{{ page_num }} </a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{url_for('admin', page=page_num)}}">{{ page_num }} </a>
        {%endif%}
      {%endif%}
    {% endfor %}
{% endblock content %}