<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"  href="{{ url_for('static', filename='bootstrap.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Customer Servic Support - {{ title }}</title>
    {% else %}
        <title>Customer Servic Support</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          {% if not current_user.is_authenticated %}
          <a class="navbar-brand mr-4" href="/">Customer Servic Support</a>
          {% endif %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              {% if not current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('newPost') }}">Contact us</a>
              {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div >
              {% if current_user.is_authenticated %}
              <a  class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
              <a  class="nav-item nav-link" href="{{ url_for('login') }}">Login for admin</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
              <br>
              <br>
              <br>
              <br>
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        </div>
      </div>
    </main>

</body>
</html>
