{% extends "layout.html" %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">New Post</legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg", placeholder="Name") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.phoneNumber.label(class="form-control-label") }}
                {% if form.phoneNumber.errors %}
                    {{ form.phoneNumber(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.phoneNumber.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.phoneNumber(class="form-control form-control-lg", placeholder="Phone number") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.company.label(class="form-control-label") }}
                {% if form.company.errors %}
                    {{ form.company(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.company.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.company(class="form-control form-control-lg", placeholder="Company") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.subject.label(class="form-control-label") }}
                {% if form.subject.errors %}
                    {{ form.subject(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.subject.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.subject(class="form-control form-control-lg", placeholder="Subject") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.problemDescription.label(class="form-control-label") }}
                {% if form.problemDescription.errors %}
                    {{ form.problemDescription(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.problemDescription.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.problemDescription(class="form-control form-control-lg", placeholder="Problem description") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.dateAndTimeForCallback.label(class="form-control-label") }}
                {% if form.dateAndTimeForCallback.errors %}
                    {{ form.dateAndTimeForCallback(class="form-control form-control-lg is-invalid") }}
                    
                    <div class="invalid-feedback">
                        {% for error in form.dateAndTimeForCallback.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.dateAndTimeForCallback(class="form-control form-control-lg", placeholder="Year-Month-Day hours:minutes") }}
                {% endif %}
            </div>
        </fieldset>
        <br>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}