{% extends "layout.html" %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2 class="mr-2" >{{ post.name }}</h2><h6>(Company: {{ post.company }} )</h6>
                <small class="text-muted">Phone number: {{ post.phoneNumber}}</small>
                <br>
                <small class="text-muted">{{ post.dateAndTimeForCallback}}</small>
            </div>
            <h2 class="article-title">{{ post.subject }}</h2>
            <p class="article-content">{{ post.problemDescription }}</p>
        </div>
        <div class="modal-footer">
            <form action="{{ url_for('archive_post', post_id=post.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Archive post">
            </form>
        </div>   
    </article>
    {% if post.comment != '' %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h4 class="mr-2" >Comments for {{ post.subject }}:</h4>
                </div>
                <p class="article-content">{{ post.comment }}</p>
            </div>  
        </article>
    {% endif %}
    <div>
        <form action="{{ url_for('add_comment', post_id=post.id) }}" method="POST">
            {% if post.comment == '' %}
                <input class="btn btn-secondary" type="submit" value="Comment">
            {% else %}
                <input class="btn btn-secondary" type="submit" value="Update comment">
            {% endif %}
        </form>
    </div> 
    
{% endblock content %}